# EXAMPLE FILE
# uncomment the needed paramaters
# gcp:
#   service_account:

# aws:
#   region:
#   access_key:
#   secret_key:

# create application in azure and give it the "Monitoring Reader" role
# azure:
#   tenant_id:
#   client_id:
#   client_secret:
#   subscription_id:

# alicloud:
#   access_key_id:
#   access_key_secret:
#   region_id:
