telegraf:
  debug: false

influxdb:
  endpoint: http://influxdb:8086
  name_prefix: CF.pg-multi-exporter.

databases:
- host: postgres
  port: 5432
  username: postgres
  password: postgres
  #interval: 2m ##optional
